* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   
  body {
    background-color: #fafafa;
    font-family: "Roboto", sans-serif;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.7)
      ),
      url("https://images.unsplash.com/photo-1512820790803-83ca734da794?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1796&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #ccc;
  }
   
  .form-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
   
  .create-book {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 20px;
  }
   
  .create-book-icon {
    font-size: 2rem;
    color: gray;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
  }
   
  .create-book-form-input {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .create-book-form-input input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
  }
   
  .create-book-form-input button {
    background-color: rgb(16, 139, 0);
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
  }
   
  .create-book-form-input button:hover {
    background-color: rgb(86, 0, 139);
    color: #fff;
  }
   
  .create-book-form-input select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
  }
   
  .create-book-form-input textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
  }
   
  