/* reset browser default settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #ffff;
    font-family: "Roboto", sans-serif;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.7)
      ),
      url("https://images.pexels.com/photos/9897446/pexels-photo-9897446.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .form-container {
    height: 100vh;
    display: flex;
    color: #ccc;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .login {
    width: 90%;
    max-width: 500px;
    background-color: transparent;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
  }
  
  .login-icon {
    font-size: 3rem;
    color: grey;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .login-form-input {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .login-form-input input {
    background-color: transparent;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
  }
  
  .login-form-input button {
    background-color: rgb(65, 19, 217);
    color: #ccc;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
  }
  
  .login-form-input button:hover {
    background-color: rgb(86, 0, 139);
    transform: scale(1.1);
  }
  