* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
  .header-wrapper {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #f7a31a;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
   
  svg {
    position: absolute;
    bottom: 0;
  }
   
  .header-content {
    color: #fff;
    max-width: 600px;
    align-self: flex-start;
    margin-top: 200px;
    margin-left: 15px;
  }
   
  .add-btn {
    background-color: #f77f00;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  .add-btn:hover {
    transform: scale(1.1);
  }
  .header-content h1 {
    font-size: 4.3rem;
    font-family: "Oleo Script Swash Caps", cursive;
  }
   
  .home-heading-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Oleo Script Swash Caps", cursive;
  }
   
  /* card */
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
  }
   
  /* card item  */
  .card-item-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
    width: 300px;
    height: 100%;
    flex-direction: column;
    background-color: #e5e5e5;
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  }
   
  .card-content-wrapper {
    padding: 10px;
    width: 100%;
    text-align: left;
    background-color: #ffffff;
  }
   
  .card-category {
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
  .dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #8ac926;
    margin: 10px;
  }
   
  .content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
  .content p {
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
   
  .user {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .edit {
    background-color: #f77f00;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.3s;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    margin: 10px;
    width: 100px;
    padding: 5px;
  }
  .edit:hover {
    transform: scale(1.1);
    background-color: #8ac926;
  }
   
  a i {
    color: white;
  }
   
  .delete {
    background-color: #d62828;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.3s;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    margin: 10px;
    width: 100px;
    padding: 5px;
  }
  .delete:hover {
    transform: scale(1.1);
    background-color: #8ac926;
  }
  @media screen and (max-width: 600px) {
    .card-item-wrapper {
      width: 95%;
      margin: 10px;
    }
    .card-container {
      flex-direction: column;
    }
    .wrapper {
      height: 500px;
      align-items: flex-start;
      align-items: center;
    }
   
    .content {
      width: 200px;
    }
    .content h1 {
      font-size: 1.5rem;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      font-family: "Roboto", sans-serif;
    }
    .content p {
      color: #fff;
      text-transform: capitalize;
      margin: 0;
      padding: 0;
      font-family: "Roboto", sans-serif;
    }
  }
   
   
  